@import "./variables.scss";

* {
  box-sizing: border-box;
}

html {
  font-family: $font-family-main;
  font-size: $font-size-mobile;
  line-height: 1.2;
  color: $font-color-main;
  background-color: $page-background-color;

  @media (min-width: $bp-desktop){
    font-size: $font-size-desktop;
  }
}

body {
  min-height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-container {
  min-width: 320px;
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 $indent-default;
}

h1,
h2,
h3 {
  font-family: $font-family-title;
  font-weight: 400;
}

h1 {
  font-size: 24px;

  @media (min-width: $bp-tablet){
    font-size: 56px;
  }
}

h2 {
  font-size: 24px;

  @media (min-width: $bp-tablet){
    font-size: 36px;
  }
}

h3 {
  font-size: 24px;
  margin: 0 0 24px;
}

@import "./components/button";
@import "./components/buttons-block";
@import "./components/text-input";
@import "./components/checkbox";
@import "./components/form";

@import "./components/header";
@import "./components/mobile-navigation";
@import "./components/intro";
@import "./components/form-section";
@import "./components/footer";
