@import "../variables.scss";

.checkbox {
  position: relative;
  padding-top: 2px;
  padding-left: 30px;
  font-size: $font-size-help;
  
  input:checked + .checkbox__styled {
    background-color: $color-checked;
    border-color: $color-checked;

    .checkbox__icon {
      opacity: 1;
    }
  }
}

.checkbox__styled {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: $text-input-background-color;
  border: 1px solid $text-input-color;
  transition: background-color $transition-default, border-color $transition-default;
  position: absolute;
  top: 0;
  left: 0;
}

.checkbox__icon {
  opacity: 0;
  display: block;
  margin: auto;
  transition: opacity $transition-default;
}