@import "../variables.scss";

$show-settings: 0.3s ease;
$navigation-border-color: #e1ddcc;
$navigation-border: 1px solid $navigation-border-color;

.mobile-navigation {
  padding: $indent-default;
  background-color: $page-background-color;
  border: $navigation-border;
  border-radius: $radius-base;
  position: absolute;
  top: 100%;
  right: $indent-small;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity $show-settings,
    visibility $show-settings;

  &.is-active {
    visibility: visible;
    opacity: 1;
  }

  &::before,
  &::after {
    display: block;
    width: 0;
    border-style: none solid solid;
    position: absolute;
    content: "";
  }

  &::before {
    border-width: 0 6px 6px;
    border-color: transparent transparent $navigation-border-color;
    top: -6px;
    right: $indent-default;
  }

  &::after {
    border-width: 0 5px 5px;
    border-color: transparent transparent $page-background-color;
    top: -5px;
    right: $indent-default + 1;
  }

  @media (min-width: $bp-small) {
    max-width: 360px;
  }

  @media (min-width: $bp-desktop) {
    display: none;
  }

  .buttons-block__login-button {
    @media (min-width: $bp-small) {
      display: none;
    }
  }
}

.mobile-navigation__navigation {
  margin-bottom: 40px;

  @media (min-width: $bp-medium) {
    display: none;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    display: block;
    border-bottom: $navigation-border;
  }

  a {
    display: block;
    padding: $indent-default 0;
  }
}

.mobile-navigation__buttons {
  flex-direction: column-reverse;
}